.container{
    display: grid;
    margin-top: 5em;
    margin-left: 15%;
    margin-right: 15%;
    
  }

  .text-Centered{
    margin-bottom: 5em;
    text-align: center;
    
}

.text-Centered h1 {
    font-size: 42px;
    padding-bottom: 500px;
    font-family: FreeSans;
    text-align: center;
}

.text-Centered p{
  font-size: medium;
}

button {
  margin: 50px;
}